@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,300");
html {
    position: relative;
    min-height: 100%;
}

body {
    font-size: 0.9rem;
    background-color: #efefef;
    padding-bottom: 50px;
}

a {
    color: #0ca4ca;
    text-decoration: none;
}

.small {
    font-size: 0.7rem;
}

.noradius {
    border-radius: 0;
}

.noborder {
    border: 0 !important;
}

.radius-circle {
    border-radius: 50px;
}

label {
    font-weight: 500;
}

.label {
    display: inline-block;
    padding: 0.2em 0.6em;
    font-size: 75%;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.label:empty {
    display: none;
}

img {
    vertical-align: middle;
    border: 0;
}

.bg-primary {
    background-color: #0f9df7 !important;
}

.bg-success {
    background-color: #1bb99a !important;
}

.bg-info {
    background-color: #3db9dc !important;
}

.bg-warning {
    background-color: #f1b53d !important;
}

.bg-danger {
    background-color: #ff5d48 !important;
}

.bg-purple {
    background-color: #9261c6 !important;
}

.bg-pink {
    background-color: #ff7aa3 !important;
}

.bg-dark {
    background-color: #2b3d51 !important;
}

.bg-default {
    background-color: #64b0f2 !important;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-custom {
    color: #64b0f2;
}

.text-primary {
    color: #0f9df7 !important;
}

.text-success {
    color: #1bb99a !important;
}

.text-info {
    color: #3db9dc !important;
}

.text-warning {
    color: #f1b53d !important;
}

.text-danger {
    color: #ff5d48 !important;
}

.text-purple {
    color: #9261c6;
}

.text-pink {
    color: #ff7aa3;
}

.text-dark {
    color: #2b3d51;
}

.text-white {
    color: #ffffff;
}

.text-muted {
    color: #818a91;
}

.dropdown-lg {
    width: 280px;
}

.navbar-custom .dropdown-lg {
    max-height: 300px;
    overflow-y: auto;
}

.dropdown-menu {
    box-shadow: none;
    border: 1px solid rgba(43, 61, 81, 0.05);
    margin: -1px;
    padding: 0;
    border-radius: 0;
}

::-webkit-scrollbar {
    width: 12px;
    /* for vertical scrollbars */
    height: 12px;
    /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.6);
}

.breadcrumb-holder {
    background-color: #284da0;
    margin: 0px -20px 20px -20px;
    padding: 13px 25px 0 25px;
    box-shadow: none;
}

.breadcrumb-holder .main-title {
    margin-bottom: 0;
    font-size: 1.4rem;
    color: white;
}

.breadcrumb-item:nth-child(1) {
    color: white;
}

.breadcrumb-item.active {
    color: #fde428 !important;
}

.breadcrumb-holder .breadcrumb {
    padding: 0;
    background-color: transparent !important;
}

.card-box {
    padding: 20px;
    background-clip: padding-box;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid rgba(183, 183, 183, .125);
    padding-bottom: 50px;
}

.card-box i {
    font-size: 80px;
    margin-top: 20px;
}

.card-header {
    color: white;
    background-color: #B7A240;
    border-bottom: 1px solid rgba(111, 111, 111, .13);
}

.about-icn-edit {
    width: 100%;
    float: left;
    text-align: right;
    padding-right: 20px;
}

.about-icn-edit span i {
    font-size: 18px;
    color: rgb(153, 172, 194);
}

.btn-chng1 {
    background-color: #002e5b!important;
    border-color: #002e5b!important;
}

.btn-secondary-sh {
    background-color: #002e5b!important;
    color: white;
}

.btn-chng1:hover {
    color: white;
    background-color: #B7A240 !important;
    border-color: #B7A240!important;
}

.btn-secondary-sh:hover {
    color: white;
    background-color: #B7A240 !important;
}

.btnsh3 {
    background-color: #002e5b !important;
    border-color: #002e5b !important;
    text-transform: capitalize;
}

.custom-select option:hover {
    background-color: #002e5b !important;
}

.btn-sm-sh {
    background-color: #002e5b !important;
    color: white;
    border-color: #002e5b !important;
}

.btn-sm-sh:hover {
    background-color: #B7A240 !important;
    border-color: #B7A240 !important;
}

.card-header h3 {
    font-weight: 500;
    line-height: 1.2;
    font-size: 20px;
    margin-bottom: 0;
    width: 60%;
    float: left;
}

.company-details-section1 {
    width: 100%;
    float: left;
}

.smalldesc {
    height: 150px;
    overflow: hidden;
    width: 100%;
    float: left;
}

.smalldesc img {
    width: 100%;
}

.bigdesc {
    height: auto;
    width: 100%;
}

.bigdesc img {
    width: 100%;
}

.company-activity-section1 {
    width: 100%;
    float: left;
    background-color: white;
    padding: 20px;
    border-radius: 2px;
    margin-top: 30px;
    box-shadow: 0 1px 5px 0 rgba(45, 62, 80, .12);
}

.curnt-vist-date {
    color: black;
    font-size: 13px;
    font-weight: 700;
}

.curnt-vist-date span {
    padding-left: 30px;
}

.print-btn-page {
    background-color: #002e5b;
    float: right;
    color: white;
    border: 1px solid #002e5b;
    padding: 5px 8px;
    cursor: pointer;
    margin-bottom: 5px;
}

.chang-width {
    width: 100%;
    float: left;
}

.scores-txt {
    font-size: 18px;
    font-weight: 700;
}

.email-txt1 {
    font-size: 18px;
    font-weight: 700;
    color: #002e5b;
    text-align: center;
}

.email-para1 {
    font-size: 15px;
    color: rgb(153, 172, 194);
    text-align: center;
}

a .gmail-sh-div {
    width: 100%;
    float: left;
    height: 150px;
    border: 1px solid #002e5b;
    justify-content: center;
    align-items: center;
    display: flex;
}

a .gmail-sh-div:hover {
    border: 2px solid #002e5b;
    box-shadow: 0 1px 5px 0 rgba(45, 62, 80, .12);
}

.plus-icn-sh {
    font-size: 40px;
    color: #B23121;
    text-align: center;
}

.photo-full-div {
    width: 100%;
    float: left;
    padding: 20px;
    background-color: white;
    text-align: center;
}

.photo-full-div h1 {
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.photo-full-div ul {
    width: 80%;
    padding: 0px;
    margin: auto;
    list-style-type: none;
    margin-top: 20px;
}

.photo-full-div ul li {
    display: inline-block;
    width: auto;
    margin-right: 10px;
    position: relative;
}

.tabl-img {
    width: 200px;
    height: 100px;
}

.action-div-img {
    background-color: #efefef;
    padding: 10px;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, .12), 0 10px 36px -4px rgba(77, 96, 232, .3)!important;
    float: left;
    width: auto;
    padding: 5px 10px;
    border-radius: 10px;
}

.bkgd-clr-icn {
    background-color: #B7A240;
    padding: 6px 10px;
    color: white;
    float: left;
    cursor: pointer;
    position: absolute;
    left: 7px;
    top: -5px;
    border-radius: 5px;
}

.bkgd-clr-icn3 {
    background-color: forestgreen;
    padding: 14px 10px;
    color: white;
    float: left;
    cursor: pointer;
    position: absolute;
    left: 7px;
    top: -5px;
    border-radius: 5px;
}

.bkgd-clr-icn2 {
    background-color: limegreen;
    padding: 6px 10px;
    color: white;
    float: left;
    cursor: pointer;
    position: absolute;
    left: 7px;
    top: -5px;
    border-radius: 5px;
}

.bkgd-clr-icn4 {
    background-color: saddlebrown;
    padding: 6px 10px;
    color: white;
    float: left;
    cursor: pointer;
    position: absolute;
    left: 7px;
    top: -5px;
    border-radius: 5px;
}

.details-txt-h {
    font-size: 20px !important;
    font-weight: bold;
    color: gray;
}

.giv-margin {
    margin-top: 20px !important;
}

.giv-margin .eva-los {
    text-align: left !important;
    font-size: 20px !important;
}

.details-txt-s {
    font-size: 16px;
    font-weight: 600;
    color: gray;
}

.cont-progress {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container-checkbx {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
}


/* Hide the browser's default checkbox */

.container-checkbx input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #eee;
}


/* On mouse-over, add a grey background color */

.container-checkbx:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.container-checkbx input:checked~.checkmark {
    background-color: #002e5b;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container-checkbx input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.container-checkbx .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.option-para {
    font-size: 15px;
    font-weight: 700;
    text-align: justify;
    margin-top: 25px;
}

.visit-dat-txt {
    font-size: 15px !important;
    color: grey;
}

.actin-txt-table {
    font-size: 15px !important;
}

.action-div-img-table {
    background-color: #efefef;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, .12), 0 10px 36px -4px rgba(77, 96, 232, .3)!important;
    float: left;
    width: 45%;
    padding: 5px 10px;
    border-radius: 10px;
    position: relative;
}

.add-div-company {
    width: 2%;
    float: left;
    margin-top: 9px;
    margin-left: 5px;
}

.add-div-company span {
    background-color: #002e5b;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: .25rem;
}

.form-control1 {
    display: block;
    width: 97%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    float: left;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control2 {
    display: block;
    width: 94%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    float: left;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.sh-datetime-compny {
    width: 100%;
    border: none;
}

.scrol-tabl-new {
    overflow: scroll;
    overflow-y: hidden;
}

.chnag-wdt-table {
    width: 1000px !important;
}

.viw-btn-sh-red {
    background-color: tomato !important;
    color: white;
    border-color: tomato!important;
}

.add-user-icn-div {
    width: 100%;
    float: left;
    text-align: right;
    margin-top: 10px;
}

.acedin-ul-new {
    display: block;
    width: 100%;
    list-style-type: none;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    float: left;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.bkgd-clr-icn1 {
    background-color: #002e5b;
    padding: 6px 10px;
    color: white;
    float: left;
    cursor: pointer;
    position: absolute;
    left: 7px;
    top: -5px;
    border-radius: 5px;
}

.insid-img-div h1 {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin: 0px;
    padding-left: 35px;
    line-height: 2;
}

.plus-icn-sh2 {
    font-size: 40px;
    color: #4267B2;
    ;
    text-align: center;
}

.company-img-div {
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 30px;
}

.company-img-div img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.comp-txt4 {
    color: rgb(153, 172, 194);
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

.clr-link {
    padding-left: 5px;
}

.round-icn-div {
    width: 100%;
    float: left;
}

.comp-txt5 {
    color: rgb(153, 172, 194);
    font-size: 14px;
    margin-top: 5px;
}

.round-icn:hover {
    background-color: #B7A240 !important;
    border-color: #B7A240 !important;
    color: white;
}

.panel-heading a:before {
    font-family: 'Font Awesome\ 5 free';
    content: "\f078";
    font-weight: 600;
    float: right;
    transition: all 0.5s;
}

.panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.panel-heading {
    padding: 0;
    border: 0;
}

.panel-title>a,
.panel-title>a:active {
    display: block;
    padding-top: 15px;
    color: rgb(153, 172, 194);
    ;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
}

.round-icn {
    width: 35px;
    height: 35px;
    border: 1px solid rgb(153, 172, 194);
    border-radius: 50%;
    text-align: center;
    color: rgb(153, 172, 194);
    padding-top: 5px;
}

a:hover .clr-link {
    color: #b5b5b5;
}

.penal-ul {
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.goldn-btn:hover {
    color: white;
    background-color: #B7A240 !important;
    border-color: #B7A240 !important;
}

.fg-inpt {
    width: 100%;
    background: transparent;
    border: none;
    color: #b5b5b5;
}

.penal-ul li:hover .fg-inpt {
    border-bottom: 1px solid rgb(153, 172, 194);
}

.viw-btn-sh {
    background-color: #002e5b !important;
    color: white;
    border-color: #002e5b !important;
}

.viw-btn-sh:hover {
    color: white;
    background-color: #B7A240 !important;
    border-color: #B7A240 !important;
}

.comp-txt6 {
    color: #b5b5b5;
    font-size: 13px;
    width: 100%;
    float: left;
    display: flex;
}

.btn-icon {
    width: 50%;
    float: left;
}

.penal-ul li:hover .btnicn-icn {
    color: rgb(153, 172, 194);
}

.btnicn-icn {
    font-size: 18px;
    color: transparent;
    cursor: pointer;
}

.penal-ul li {
    margin-top: 15px;
    height: 55px;
}

.penal-ul li:hover .button-comp {
    border: 1px solid rgb(153, 172, 194);
    color: rgb(153, 172, 194);
    ;
}

.button-comp {
    background-color: transparent;
    border: none;
    color: transparent;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 3px;
}

.comp-txt6 span i {
    color: #b5b5b5;
    font-size: 15px;
    padding-left: 10px;
}

.comp-txt4 span i {
    color: #b5b5b5;
    font-size: 18px;
    cursor: pointer;
    padding-left: 5px;
}

.comp-txt4 span i:hover {
    color: white;
}

.plus-icn-sh3 {
    font-size: 40px;
    color: rgb(153, 172, 194);
    text-align: center;
}

.about-comp-sh {
    width: 100%;
    float: left;
    background-color: #002e5b;
    padding-bottom: 20px;
}

.email-para2 {
    font-size: 15px;
    color: rgb(153, 172, 194);
}

.expand-img-div {
    width: 100%;
    float: left;
    transition: all .6s ease;
}

.expand-img-div img {
    width: 100%;
}

.comnt-sh {
    color: rgb(153, 172, 194);
    font-size: 18px;
    float: left;
}

.hotl-nam-img-div {
    width: 100%;
    float: left;
    background-color: white;
    padding: 20px;
    display: flex;
}

.hotl-img {
    width: 250px;
    height: 150px;
}

.hotle-txt-img {
    font-size: 25px;
    line-height: 5;
    padding-left: 25px;
}

.graph-full-div {
    width: 100%;
    background-color: white;
    padding: 20px;
    float: left;
    margin-top: 20px;
}

.graph-full-div1 {
    width: 100%;
    background-color: white;
    padding: 20px;
    float: left;
    margin-top: 20px;
}

.graph-colm {
    padding: 0px !important;
}

.details-txt-h-span {
    font-size: 16px !important;
    font-weight: 600;
}

.button-graph {
    background-color: #002e5b;
    border: none;
    color: white !important;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.button-graph:hover {
    background-color: #B7A240;
    color: white !important;
}

.txt-justify {
    text-align: justify;
    width: 300px;
}

.graph-full-div1 h1 {
    font-size: 20px;
    font-weight: 700;
}

.graph-full-div h1 {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.boym-brdr {
    width: 100%;
    float: left;
    margin-top: 10px;
    border-top: 1px solid grey;
    padding: 20px;
    padding-bottom: 0;
}

.note-txt3 a {
    color: #002e5b;
    font-size: 15px;
    font-weight: 500;
    float: left;
    margin-left: 10px;
}

.note-txt2 {
    float: left;
    width: 100%;
    color: #002e5b;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.expand-img-div.expand {
    height: 400px;
}

.note-txt3 {
    float: left;
    color: #002e5b;
    font-size: 20px;
    cursor: pointer;
    padding-right: 30px;
}

.created-comp {
    width: 100%;
    float: left;
}

.notif-div-full ul {
    margin: 0px;
    list-style-type: none;
    padding: 10px 0px 10px 43px;
    border-bottom: 1px solid #b5b5b5;
}

.notif-div-full ul:hover {
    cursor: pointer;
    background-color: #f8f9fa;
}

.unread {
    background-color: #f8f9fa;
}

.notifi-li-sh {
    color: #002e5b;
    font-weight: 700;
    font-size: 18px;
}

.notifi-li3-sh {
    color: black;
    font-size: 13px;
}

.notifi-li2-sh {
    color: #002e5b;
    font-weight: 500;
    font-size: 14px;
}

.notif-div-full {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.notes-txt1 {
    color: #002e5b;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

.notes-txt11 {
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    float: right;
    background-color: #002e5b;
    padding: 7px;
    border-radius: 4px;
}

.notes-txt11:hover {
    background-color: #B7A240;
    color: white;
}

.one-two-page {
    width: 100%;
    float: left;
    margin-top: 20px;
    text-align: center;
}

.notes-txt1-div {
    width: 100%;
    float: left;
    text-align: right;
}


/* ---------pagenation-sh---------- */

.pagination-sh {
    display: inline-block;
}

.pagination-sh a {
    color: black;
    float: left;
    padding: 6px 12px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #b5b5b5;
    margin: 0 4px;
}

.pagination-sh a.active-1 {
    background-color: #002e5b;
    color: white;
    border: 1px solid #002e5b;
}

.pagination-sh a:hover:not(.active-1) {
    background-color: #b5b5b5;
}


/* ---------pagenation-sh end---------- */

.close-sh1 {
    color: white !important;
}

.activ-comp i {
    font-size: 25px;
    color: #002e5b;
}

.activity-txt1 {
    color: #b5b5b5;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
}

.activity-txt2 {
    float: right;
    color: #b5b5b5;
}

.activity-para1 {
    color: #b5b5b5;
    padding-left: 48px;
    margin-bottom: 0;
    margin-top: 10px;
}

.comp-notes {
    width: 100%;
    float: left;
}

.button-note {
    background-color: #002e5b !important;
    border: none;
    color: white !important;
    padding: 8px 15px !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px !important;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px !important;
    margin-top: 20px;
    float: right;
}

.button-note-1 {
    background-color: #eaf0f6!important;
    border: 1px solid #cbd6e2;
    border-color: #cbd6e2 !important;
    color: #506e91 !important;
    padding: 8px 15px !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px !important;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px !important;
    margin-top: 20px;
    float: right;
}

.task-full-div {
    width: 100%;
    float: left;
    margin-top: 70px;
}

.task-pag-check {
    width: 100%;
    float: left;
}

.t-pag-icn {
    font-size: 25px;
    color: rgb(203, 214, 226);
}

.t-pag-icn2 {
    font-size: 20px;
    color: rgb(203, 214, 226);
    padding-right: 20px;
}

.assind-div {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.t-pag-txt2 {
    width: 100%;
    float: left;
    font-size: 12px;
    color: black;
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 600;
}

.t-pag-txt1 {
    font-size: 18px;
    font-weight: 600;
    color: #b5b5b5;
    padding-left: 20px;
}

.task-pg-txt1 {
    font-size: 25px;
    color: #002e5b;
    font-weight: 700;
    margin-bottom: 0px;
}

.t-pag-icn2>.fa-user-clock {
    padding-left: 10px;
}

.centerblocknew {
    width: 100%;
    float: left;
}

.t-pag-txt3 {
    font-size: 14px;
    color: #b5b5b5;
    font-weight: 600;
    margin-bottom: 10px;
}

.panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.panel-heading a:before {
    font-family: 'Font Awesome\ 5 free';
    content: "\f078";
    font-weight: 600;
    float: right;
    transition: all 0.5s;
}

.acrdin-ul {
    width: 20%;
    float: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mail-to-div {
    width: 100%;
    float: left;
}

.ck.ck-editor {
    width: 100% !important;
    float: left;
    max-width: 100% !important;
}

.sub-inputtxt {
    width: 100%;
    border: none;
    border-bottom: 1px solid #aaa;
}

.psd-icn-div {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.psd-icn {
    width: 170px;
    padding: 10px;
    height: auto;
    background-color: rgb(245, 248, 250);
    border-radius: 2px;
    word-break: break-all;
    float: left;
}

.email-txt1 a {
    font-size: 15px;
    font-weight: 600;
    padding-left: 10px;
    width: 80%;
}

.email-txt2 {
    width: 100%;
    float: left;
    font-size: 12px;
    color: black;
    padding-left: 30px;
    margin-bottom: 0px;
}

.email-txt3 {
    font-size: 14px;
    color: black;
    margin-bottom: 0px;
}

.psd-icn span i {
    color: #002e5b;
    font-size: 25px;
    width: 12%;
    float: left;
}

.mail-to-txt {
    width: 10%;
    float: left;
    font-size: 18px;
    font-weight: 700;
    color: #002e5b;
}

.mail-to-txt2 {
    width: 20%;
    float: left;
    font-size: 18px;
    font-weight: 700;
    color: #002e5b;
}

.mail-editr1 {
    width: 80%;
    float: left;
}

.mail-editr {
    width: 90%;
    float: left;
}

.sh-datetime {
    border: 1px solid #aaa !important;
    border-radius: 4px !important;
    line-height: 24px !important;
}

.acrdin-ul2 {
    width: 50%;
    float: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding: 10px;
}

.acrdin-ul3 {
    width: 50%;
    float: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding: 10px;
}

.t-pag-txt4 span i {
    font-size: 13px;
    padding-left: 5px;
}

.t-pag-txt4 select {
    font-size: 14px;
    color: #002e5b;
    font-weight: 700;
    cursor: pointer;
    margin-top: 8px;
    border: none;
}

.daterangepicker.single .ranges {
    display: block !important;
    width: 100% !important;
}

.daterangepicker {
    z-index: 1084 !important;
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
}

.acrdin-ul2 {
    overflow: auto;
}

.sh-left {
    font-weight: 700;
}

.t-pag-txt5 {
    font-size: 14px;
    color: #002e5b;
    font-weight: 400;
}

.down-arw {
    padding-left: 5px;
}

.t-pag-txt4 a {
    font-size: 14px;
    color: #002e5b;
    font-weight: 700;
    cursor: pointer;
    margin-top: 8px;
}

.t-pag-txt2 {
    font-size: 18px;
    font-weight: 600;
    color: #b5b5b5;
    margin-top: 10px;
}

.onpag-task {
    width: 100%;
    float: left;
}

.button-note-1:hover {
    background-color: #f5f8fa !important;
}

.button-note:hover {
    background-color: #B7A240 !important;
    border-color: #B7A240 !important;
}

.header-sh-new {
    display: inline !important;
    background-color: #002e5b!important;
    color: white !important;
}

.notes-para1 {
    padding: 50px;
    color: #b5b5b5;
    margin-bottom: 0px;
    text-align: justify;
    float: left;
}

.topnav {
    overflow: hidden;
    border-bottom: 1px solid lightgray;
}

.topnav a {
    float: left;
    display: block;
    color: rgb(51, 71, 91);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

.topnav a:hover {
    border-bottom: 5px solid #B7A240;
    color: #002e5b;
}

.topnav a.active {
    border-bottom: 5px solid #B7A240;
}


/* ---------------- */

.header-title {
    font-size: 1rem;
    text-transform: uppercase;
}

.page-header {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.15rem;
    padding-bottom: 10px;
    border-bottom: 1px solid #eceeef;
}

.button-list {
    margin-bottom: -5px;
    margin-left: -7px;
}

.button-list button,
.button-list a {
    margin: 5px 7px;
}

canvas {
    max-width: 100%;
}

svg {
    max-width: 100%;
}

a {
    outline: none !important;
    text-decoration: none !important;
}

.row {
    margin-right: -10px;
    margin-left: -10px;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9 {
    padding-right: 10px;
    padding-left: 10px;
}

.nav-pills .nav-item.show .nav-link,
.nav-pills .nav-link.active {
    background-color: #0f9df7;
}

.dropdown-item {
    font-size: 0.9rem;
    white-space: inherit;
}

.sh-img-div {
    width: 100% !important;
    float: left !important;
    margin: 20px !important;
    text-align: center !important;
}

.anchor-sh:hover {
    text-decoration: none !important;
}


/* IE9, IE10, IE11 */

@media screen and (min-width: 0\0) {
    .form-control {
        padding: 0.55rem 0.75rem !important;
    }
    .input-group-addon {
        line-height: inherit !important;
        font-size: 1rem !important;
    }
    .carousel-control span {
        right: 20px;
    }
}

.headerbar {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
}

.headerbar .headerbar-left {
    background: white;
    float: left;
    text-align: center;
    height: 50px;
    position: relative;
    width: 250px;
    z-index: 1;
}

.headerbar .headerbar-left .logo img {
    max-width: 200px;
    max-height: 30px;
    width: auto;
    height: auto;
}

.navbar-custom {
    background-color: white;
    border-radius: 0;
    margin-bottom: 0;
    padding: 0 10px;
    margin-left: 240px;
    min-height: 50px;
}

.navbar-custom .nav-link {
    padding: 0 8px;
    line-height: 50px;
    color: #002e5b;
    font-size: 20px;
}

.navbar-custom .dropdown-toggle:after {
    content: initial;
}

.navbar-custom .menu-left {
    overflow: hidden;
}

.logo {
    color: #002e5b !important;
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 48px;
}

.logo span span {
    color: #fff;
}

.main-sidebar {
    top: 50px;
    width: 250px;
    z-index: 10;
    background: #002e5b;
    bottom: 70px;
    margin-bottom: -70px;
    margin-top: 0;
    padding-bottom: 70px;
    position: absolute;
}

.content-page {
    margin-left: 250px;
    overflow: hidden;
}

.content-page .content {
    padding: 0 5px;
    margin-top: 50px;
}

.main-sidebar.left {
    position: absolute;
    height: 100%;
}

body.adminbody .main-sidebar.left {
    bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0;
    padding-bottom: 0px;
}

.button-menu-mobile {
    background: transparent;
    border: none;
    color: #002e5b;
    font-size: 28px;
    line-height: 50px;
    padding: 0 5px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    z-index: 1;
}

.button-menu-mobile:hover {
    color: #B7A240;
}

.sidebar-inner {
    height: 100%;
}

#sidebar-menu,
#sidebar-menu ul,
#sidebar-menu li,
#sidebar-menu a {
    border: 0;
    font-weight: normal;
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
    background-color: #002e5b;
}

#sidebar-menu {
    padding-bottom: 30px;
    width: 100%;
}

#sidebar-menu a {
    line-height: 1.3;
}

#sidebar-menu ul li .menu-arrow {
    -webkit-transition: -webkit-transform .15s;
    -o-transition: -o-transform .15s;
    transition: transform .15s;
    position: absolute;
    right: 20px;
    top: 15px;
    display: inline-block;
    font-family: 'FontAwesome';
    text-rendering: auto;
    line-height: 18px;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

#sidebar-menu ul li .menu-arrow:before {
    content: "\f105";
}

#sidebar-menu ul li a.subdrop .menu-arrow {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#sidebar-menu ul ul {
    display: none;
}

#sidebar-menu ul ul li {
    border-top: 0;
}

#sidebar-menu ul ul li.active a {
    color: #f3f3f3;
}

#sidebar-menu ul ul a.active {
    color: #ffffff !important;
    background-color: #B7A240;
}

#sidebar-menu ul ul a {
    color: #b5b5b5;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    display: block;
    padding: 10px 20px 10px 60px;
}

#sidebar-menu ul ul a:hover {
    color: #efefef;
}

#sidebar-menu ul ul a i {
    margin-right: 5px;
}

#sidebar-menu ul ul ul a {
    padding-left: 80px;
}

#sidebar-menu .label {
    margin-top: 2px;
}

#sidebar-menu .subdrop {
    color: #fff !important;
    background-color: #B7A240;
    border-left: 2px solid #B7A240;
}

#sidebar-menu .submenu ul .submenu .menu-arrow {
    top: 10px !important;
}

#sidebar-menu>ul>li>a {
    color: #b5b5b5;
    display: block;
    padding: 12px 12px 15px 12px;
    font-weight: 400;
    font-size: 0.90rem;
    border-left: 2px solid transparent;
}

#sidebar-menu>ul>li>a:hover {
    color: #FFF;
    background-color: #B7A240;
    text-decoration: none;
    border-left: 2px solid #B7A240;
}

#sidebar-menu>ul>li>a>span {
    vertical-align: middle;
}

#sidebar-menu ul li a i {
    display: inline-block;
    font-size: 18px;
    line-height: 17px;
    margin-left: 3px;
    margin-right: 15px;
    text-align: center;
    vertical-align: middle;
    width: 20px;
}

#sidebar-menu ul li a .drop-arrow {
    float: right;
}

#sidebar-menu ul li a .drop-arrow i {
    margin-right: 0;
}

#sidebar-menu>ul>li>a.active {
    color: #ffffff !important;
    background-color: #B7A240;
}

.menu-title {
    padding: 12px 20px !important;
    letter-spacing: .035em;
    pointer-events: none;
    cursor: default;
    font-size: 13px;
}

.footer {
    border-top: 1px solid rgba(115, 140, 152, 0.2);
    bottom: 0;
    color: #818a91;
    text-align: left !important;
    padding: 10px;
    position: absolute;
    right: 0;
    left: 250px;
    background-color: #fff;
}

#main.enlarged .menu-title {
    display: none;
}

#main.enlarged .menu-arrow {
    display: none !important;
}

#main.enlarged .footer {
    left: 70px;
}

#main.enlarged #sidebar-menu ul ul {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
}

#main.enlarged .left.main-sidebar {
    width: 70px;
    z-index: 5;
}

#main.enlarged .left.main-sidebar #sidebar-menu>ul>li>a {
    padding-left: 10px;
}

#main.enlarged .left.main-sidebar #sidebar-menu>ul>li>a:hover {
    background-color: #B7A240;
}

#main.enlarged .left.main-sidebar span.pull-right {
    display: none !important;
}

#main.enlarged .left.main-sidebar #sidebar-menu ul>li {
    position: relative;
}

#main.enlarged .left.main-sidebar #sidebar-menu ul>li:hover>a {
    background-color: #64b0f2;
    position: relative;
    width: 260px;
}

#main.enlarged .left.main-sidebar #sidebar-menu ul>li:hover>ul {
    display: block;
    left: 70px;
    position: absolute;
    width: 190px;
    padding: 5px 0;
    background: #ffffff;
}

#main.enlarged .left.main-sidebar #sidebar-menu ul>li:hover>ul a {
    background: #ffffff;
    border: none;
    box-shadow: none;
    padding-left: 15px;
    position: relative;
    width: 190px;
    z-index: 6;
    color: rgba(43, 61, 81, 0.8);
}

#main.enlarged .left.main-sidebar #sidebar-menu ul>li:hover>ul a:hover {
    color: #002e5b;
    ;
}

#main.enlarged .left.main-sidebar #sidebar-menu ul>li:hover a span {
    display: inline;
}

#main.enlarged .left.main-sidebar #sidebar-menu ul>li>ul {
    display: none;
}

#main.enlarged .left.main-sidebar #sidebar-menu ul ul li:hover>ul {
    display: block;
    left: 190px;
    margin-top: -36px;
    position: absolute;
    width: 190px;
}

#main.enlarged .left.main-sidebar #sidebar-menu ul ul li>a span.pull-right {
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    position: absolute;
    right: 20px;
    top: 12px;
    transform: rotate(270deg);
}

#main.enlarged .left.main-sidebar #sidebar-menu ul>li>a span {
    display: none;
    padding-left: 10px;
}

#main.enlarged .left.main-sidebar #sidebar-menu>ul>li>a {
    padding: 15px 20px;
    min-height: 52.09px;
}

#main.enlarged .left.main-sidebar #sidebar-menu>ul>li>a i {
    margin-right: 20px !important;
    font-size: 20px;
}

#main.enlarged .left.main-sidebar #sidebar-menu ul>li:hover>a {
    position: relative;
    width: 260px;
    background-color: #B7A240;
    color: #ffffff;
}

#main.enlarged .left.main-sidebar #sidebar-menu ul>li:hover>a i {
    color: #ffffff;
}

#main.enlarged .content-page {
    margin-left: 70px;
}

#main.enlarged .navbar-custom {
    margin-left: 70px;
}

#main.enlarged .headerbar .headerbar-left {
    width: 100px !important;
}

.headerbar-left {
    padding-left: 20px;
}

#main.enlarged .headerbar .headerbar-left .logo span {
    display: none;
    opacity: 0;
}

#main.enlarged .headerbar .headerbar-left .logo i {
    margin-right: 0;
}

#main.enlarged #sidebar-menu>ul>li:hover>a.open :after {
    display: none;
}

#main.enlarged #sidebar-menu>ul>li:hover>a.active :after {
    display: none;
}

#main.enlarged .user-detail {
    bottom: 0;
    padding: 15px 0;
    width: 70px;
    text-align: center;
}

#main.enlarged .user-detail .dropup {
    margin: 0 auto;
    margin-left: 17px;
}

#main.enlarged .user-detail h5 {
    display: none;
}

#main.enlarged .user-detail p {
    position: absolute;
    right: 15px;
    top: 32px;
}

#main.enlarged .user-detail p span {
    display: none;
}

#main.enlarged #sidebar-menu ul ul li.active a {
    color: #0f9df7;
}

.notif {
    margin-left: 0 !important;
}

.notif .noti-title {
    border-radius: 0;
    background-color: #B7A240;
    margin: 0;
    width: auto;
    padding: 8px 15px 12px 15px;
}

.notif .noti-title h5 {
    color: #ffffff;
    margin: 0;
}

.notif .noti-title .label {
    float: right;
}

.notif .noti-icon {
    font-size: 22px;
    padding: 0 12px;
    vertical-align: middle;
    color: rgba(255, 255, 255, 0.8);
}

.notif .notif-bullet {
    height: 23px;
    width: 25px;
    background-color: #f95200;
    display: inline-block;
    position: absolute;
    top: 5px;
    right: -14px;
    border-radius: 50%;
    border: 2px solid #e2e2e2;
    text-align: center;
    font-size: 10px;
}

.notif .notif-bullet .notify-number {
    display: block;
    position: absolute;
    top: -17px;
    color: white;
    height: 20px;
    width: 20px;
}

.notif .notify-item {
    padding: 10px 20px;
    margin-top: 1px !important;
}

.notif .notify-item .notify-icon {
    float: left;
    height: 36px;
    width: 36px;
    line-height: 36px;
    text-align: center;
    margin-right: 10px;
    border-radius: 50%;
    color: #ffffff;
}

.notif .notify-item .notify-icon img {
    margin-top: 4px;
}

.notif .notify-item .notify-details {
    margin-bottom: 0;
    overflow: hidden;
    /* margin-left: 45px; */
    text-overflow: ellipsis;
    white-space: inherit;
}

.notif .notify-item .notify-details b {
    font-weight: 500;
}

.notif .notify-item .notify-details small {
    display: block;
}

.notif .notify-item .notify-details span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
}

.notif .notify-all {
    border-radius: 0;
    margin: 0;
    background-color: #a8c1d8;
    color: #fff;
}

.profile-dropdown {
    width: 170px;
}

.profile-dropdown i {
    font-size: 17px;
    vertical-align: middle;
    margin-right: 5px;
}

.profile-dropdown span {
    vertical-align: middle;
}

.nav-user {
    padding: 0 12px !important;
}

.nav-user img {
    height: 36px;
    width: 36px;
    margin-bottom: 7px;
}


/* ==========old responsive============ */

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .enlarged .left.main-sidebar {
        margin-left: -75px;
    }
    .headerbar-left {
        width: 100px !important;
    }
    .headerbar-left span {
        display: none !important;
    }
    .headerbar-left i {
        display: block !important;
        line-height: 75px !important;
    }
    .navbar-custom {
        margin-left: 70px !important;
    }
    .content-page {
        margin-left: 0 !important;
    }
    .footer {
        left: 0 !important;
    }
    .mobile-sidebar {
        left: 0;
    }
    .mobile-content {
        left: 250px;
        right: -250px;
    }
    .wrapper-page {
        width: 90%;
    }
    .dataTables_wrapper .col-xs-6 {
        width: 100%;
        text-align: left;
    }
    div#datatable-buttons_info {
        float: none;
    }
    .ms-container {
        width: 100%;
    }
    .navbar-toggleable-md .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

@media (max-width: 767px) {
    .dropdown-lg {
        width: 200px;
    }
    .allHotelLocation_phto {
        width: 740px !important;
    }
    .naratinTablbe {
        width: 700px !important;
    }
    .notif .notify-item {
        padding: 10px 15px;
    }
    .breadcrumb-holder .main-title,
    .breadcrumb-holder .breadcrumb {
        float: none;
    }
}

@media (max-width: 480px) {
    .notif .noti-icon {
        font-size: 18px;
        padding: 0 10px;
    }
    .hidden-mobile {
        display: none !important;
    }
}


/* ===========old responcive end=============== */

body.adminbody-void {
    min-height: 1170px;
}

.mobile.smallscreen .sidebar-inner.leftscroll {
    overflow: auto !important;
}

button:focus {
    outline: none !important;
}

a.btn:focus {
    color: #ffffff !important;
}

.btn-rounded {
    border-radius: 2em !important;
    padding: .5rem 1.5rem;
}

.btn-label {
    background: rgba(43, 61, 81, 0.1);
    display: inline-block;
    padding: 7px 15px;
    border-radius: 3px 0 0 3px;
    margin: -7px -14px;
    margin-right: 12px;
}

.btn-rounded .btn-label {
    padding: 7px 15px 7px 20px;
    margin-left: -20px;
}

.btn-rounded .btn-label-right {
    margin-right: -20px;
    margin-left: 12px;
}

.btn-label-right {
    margin-left: 12px;
    margin-right: -13px;
    border-radius: 0px 3px 3px 0px;
}

.btn-custom {
    background-color: #002e5b;
    border-color: #002e5b;
    color: #ffffff;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open>.dropdown-toggle.btn-custom {
    background-color: #002e5b;
    border-color: #002e5b;
    color: #ffffff;
}

.btn-primary {
    background-color: #002e5b;
    border-color: #002e5b;
    text-transform: capitalize;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open>.dropdown-toggle.btn-primary {
    background-color: #002e5b;
    border-color: #002e5b;
    color: #ffffff;
}

.btn-success {
    background-color: #1bb99a;
    border-color: #1bb99a;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.focus,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.open>.dropdown-toggle.btn-success {
    background-color: #16957c;
    border-color: #16957c;
    color: #ffffff;
}

.btn-info {
    background-color: #3db9dc;
    border-color: #3db9dc;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.focus,
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.open>.dropdown-toggle.btn-info {
    background-color: #25a7cb;
    border-color: #25a7cb;
    color: #ffffff;
}

.btn-warning {
    background-color: #f1b53d;
    border-color: #f1b53d;
    color: #ffffff;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.focus,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover,
.open>.dropdown-toggle.btn-warning {
    background-color: #eea617;
    border-color: #eea617;
    color: #ffffff;
}

.btn-danger {
    background-color: #ff5d48;
    border-color: #ff5d48;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.focus,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.open>.dropdown-toggle.btn-danger {
    background-color: #ff391f;
    border-color: #ff391f;
    color: #ffffff;
}

.btn-dark {
    background-color: #2b3d51;
    border-color: #2b3d51;
    color: #ffffff;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.btn-dark.focus,
.btn-dark:active,
.btn-dark:focus,
.btn-dark:hover,
.open>.dropdown-toggle.btn-dark {
    background-color: #1d2936;
    border-color: #1d2936;
    color: #ffffff;
}

.btn-outline-custom {
    color: #64b0f2;
    background-image: none;
    background-color: transparent;
    border-color: #64b0f2;
}

.btn-outline-custom:hover,
.btn-outline-custom:focus,
.btn-outline-custom:active,
.btn-outline-custom.active,
.btn-outline-custom.focus,
.btn-outline-custom:active,
.btn-outline-custom-primary:focus,
.btn-outline-custom:hover,
.open>.dropdown-toggle.btn-outline-custom {
    color: #ffffff;
    background-color: #64b0f2;
    border-color: #64b0f2;
}

.btn-outline-primary {
    color: #0f9df7;
    background-image: none;
    background-color: transparent;
    border-color: #0f9df7;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:hover,
.open>.dropdown-toggle.btn-outline-primary {
    color: #ffffff;
    background-color: #0f9df7;
    border-color: #0f9df7;
}

.btn-outline-success {
    color: #1bb99a;
    background-image: none;
    background-color: transparent;
    border-color: #1bb99a;
}

.btn-outline-success:hover,
.btn-outline-success:focus,
.btn-outline-success:active,
.btn-outline-success.active,
.btn-outline-success.focus,
.btn-outline-success:active,
.btn-outline-success:focus,
.btn-outline-success:hover,
.open>.dropdown-toggle.btn-outline-success {
    color: #ffffff;
    background-color: #1bb99a;
    border-color: #1bb99a;
}

.btn-outline-info {
    color: #3db9dc;
    background-image: none;
    background-color: transparent;
    border-color: #3db9dc;
}

.btn-outline-info:hover,
.btn-outline-info:focus,
.btn-outline-info:active,
.btn-outline-info.active,
.btn-outline-info.focus,
.btn-outline-info:active,
.btn-outline-info:focus,
.btn-outline-info:hover,
.open>.dropdown-toggle.btn-outline-info {
    color: #ffffff;
    background-color: #3db9dc;
    border-color: #3db9dc;
}

.btn-outline-warning {
    color: #f1b53d;
    background-image: none;
    background-color: transparent;
    border-color: #f1b53d;
}

.btn-outline-warning:hover,
.btn-outline-warning:focus,
.btn-outline-warning:active,
.btn-outline-warning.active,
.btn-outline-warning.focus,
.btn-outline-warning:active,
.btn-outline-warning:focus,
.btn-outline-warning:hover,
.open>.dropdown-toggle.btn-outline-warning {
    color: #ffffff;
    background-color: #f1b53d;
    border-color: #f1b53d;
}

.btn-outline-danger {
    color: #ff5d48;
    background-image: none;
    background-color: transparent;
    border-color: #ff5d48;
}

.btn-outline-danger:hover,
.btn-outline-danger:focus,
.btn-outline-danger:active,
.btn-outline-danger.active,
.btn-outline-danger.focus,
.btn-outline-danger:active,
.btn-outline-danger:focus,
.btn-outline-danger:hover,
.open>.dropdown-toggle.btn-outline-danger {
    color: #ffffff;
    background-color: #ff5d48;
    border-color: #ff5d48;
}

.btn-outline-pink {
    color: #ff7aa3;
    background-image: none;
    background-color: transparent;
    border-color: #ff7aa3;
}

.btn-outline-pink:hover,
.btn-outline-pink:focus,
.btn-outline-pink:active,
.btn-outline-pink.active,
.btn-outline-pink.focus,
.btn-outline-pink:active,
.btn-outline-pink:focus,
.btn-outline-pink:hover,
.open>.dropdown-toggle.btn-outline-pink {
    color: #ffffff;
    background-color: #ff7aa3;
    border-color: #ff7aa3;
}

.btn-outline-purple {
    color: #9261c6;
    background-image: none;
    background-color: transparent;
    border-color: #9261c6;
}

.btn-outline-purple:hover,
.btn-outline-purple:focus,
.btn-outline-purple:active,
.btn-outline-purple.active,
.btn-outline-purple.focus,
.btn-outline-purple:active,
.btn-outline-purple:focus,
.btn-outline-purple:hover,
.open>.dropdown-toggle.btn-outline-purple {
    color: #ffffff;
    background-color: #9261c6;
    border-color: #9261c6;
}

.btn-outline-dark {
    color: #2b3d51;
    background-image: none;
    background-color: transparent;
    border-color: #2b3d51;
}

.btn-outline-dark:hover,
.btn-outline-dark:focus,
.btn-outline-dark:active,
.btn-outline-dark.active,
.btn-outline-dark.focus,
.btn-outline-dark:active,
.btn-outline-dark:focus,
.btn-outline-dark:hover,
.open>.dropdown-toggle.btn-outline-dark {
    color: #ffffff;
    background-color: #2b3d51;
    border-color: #2b3d51;
}

.btn-facebook {
    color: #ffffff !important;
    background-color: #3b5998 !important;
}

.btn-twitter {
    color: #ffffff !important;
    background-color: #00aced !important;
}

.btn-linkedin {
    color: #ffffff !important;
    background-color: #007bb6 !important;
}

.btn-dribbble {
    color: #ffffff !important;
    background-color: #ea4c89 !important;
}

.btn-googleplus {
    color: #ffffff !important;
    background-color: #dd4b39 !important;
}

.btn-instagram {
    color: #ffffff !important;
    background-color: #517fa4 !important;
}

.btn-pinterest {
    color: #ffffff !important;
    background-color: #cb2027 !important;
}

.btn-dropbox {
    color: #ffffff !important;
    background-color: #007ee5 !important;
}

.btn-flickr {
    color: #ffffff !important;
    background-color: #ff0084 !important;
}

.btn-tumblr {
    color: #ffffff !important;
    background-color: #32506d !important;
}

.btn-skype {
    color: #ffffff !important;
    background-color: #00aff0 !important;
}

.btn-youtube {
    color: #ffffff !important;
    background-color: #bb0000 !important;
}

.btn-github {
    color: #ffffff !important;
    background-color: #171515 !important;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.display-block {
    display: block;
}

.dropdown-example {
    position: static;
    display: block;
    margin-bottom: .25rem;
    clear: left;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #002e5b;
}

#sidebar-menu>ul>li>a.pro {
    background-color: #f16854;
    color: #fff;
    bottom: 0;
}

.avatar-circle {
    border-radius: 50%;
}

.avatar-rounded {
    border-radius: 50%;
}

.widget-messages .message-item {
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #e8e8e8;
    padding: 12px 0;
}

.widget-messages .message-item img {
    width: 40px;
}

.widget-messages .message-item .message-user-img {
    display: block;
    float: left;
    margin-right: 15px;
    width: 40px;
}

.widget-messages .message-item .message-item-user {
    color: #525252;
    display: block;
    font-weight: 500;
    margin: 0;
}

.widget-messages .message-item .message-item-msg {
    color: #525252;
    display: block;
    font-weight: 200;
    margin: 0;
}

.widget-messages .message-item .message-item-date {
    color: #a2a5a7;
    font-weight: 200;
    position: absolute;
    right: 7px;
    top: 2px;
}

.custom-modal .modal-header {
    padding: 10px !important;
    border-radius: 0;
    background-color: #5ba2e6;
    color: #fff;
}

.custom-modal .modal-content {
    background-color: #f7f7f7;
}

.custom-modal .modal-footer {
    padding: 10px !important;
    border-radius: 0;
    background-color: #f3f3f3;
}

.custom-modal .close {
    color: #fff;
    text-shadow: 0;
}

.border-left {
    border-left: 3px solid #eaeaea;
}

.label-info {
    background-color: #5bc0de;
}


/* ===============new css========== */

.single-notifi h6 {
    margin: 0px;
    padding: 10px 15px;
}

.activ_table td .btn-sm {
    width: 150px;
    margin: 1px 0px;
}

.outlet_2_respon th,
.outlet_2_respon td {
    text-align: left;
}

.naratinTablbe th,
.naratinTablbe td {
    text-align: left;
}

.breadcrumb-item+.breadcrumb-item::before {
    font-weight: 700;
    color: #fde428;
}

.schedule_table {
    width: 100% !important;
}

.card-body-giv-wdth ul {
    padding: 0px;
}

.card-body-giv-wdth ul .col_li {
    width: 33%;
    list-style: none;
    display: inline-block;
}

.Criteria_table th {
    padding: 10px 8px;
}

.form-group input[type="file"] {
    min-height: 45px;
}

.Lodging_responc th,
.Lodging_responc td {
    text-align: left !important;
    width: 33.3%;
}

.Lodging_responc td .viw-btn-sh {
    width: 160px !important;
}

.modal-title {
    text-transform: capitalize;
}

div.table-responsive>div.dataTables_wrapper>div.row {
    width: 100%;
    position: relative;
    overflow-x: auto;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #ced4da !important;
    min-height: 38px !important;
}

.company_table {
    width: 100% !important;
}

.insid-img-div_td {
    color: black;
}

.outlets_list_resp {
    width: 100% !important;
}

select:focus {
    outline: none;
}

td .btn-primary:hover {
    background-color: #B7A240;
    border-color: #B7A240;
}

.dataTables_length label {
    text-transform: capitalize;
}

.report_tabl_res {
    width: 100% !important;
}

.hotel_tble {
    width: 100% !important;
}

.lodging_list_res {
    width: 100% !important;
}

.columnchart_responc {
    overflow-y: hidden;
}

.photo_table tr th {
    text-align: left;
}

.sub_catgory_td tbody td .badge-primary {
    background-color: #002e5b;
}

.custom-modal .modal-header {
    background-color: #002e5b;
}

.photo_table tr td {
    text-align: left;
    padding: 8px 20px !important;
}

.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #002e5b;
    border-color: #002e5b;
}

.btn-primary:focus {
    box-shadow: none !important;
}

div.dataTables_wrapper div.dataTables_filter input,
.custom-select:focus {
    outline: none;
    box-shadow: none;
    border-color: #ced4da;
}

.pagination .paginate_button {
    background: transparent;
    padding: 8px 5px !important;
}

.page-link:hover {
    background-color: #B7A240;
    border-color: #B7A240;
    color: white;
}

.page-link {
    color: white;
    background-color: #002e5b;
    border-color: #002e5b;
}

.page-item.active .page-link {
    background-color: #B7A240;
    border-color: #B7A240;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    background: transparent !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: transparent !important;
    background-color: transparent !important;
    box-shadow: none !important;
    border: 1px solid transparent !important;
}

.page-link:focus {
    box-shadow: none;
}

table.dataTable tbody td {
    padding: 8px 18px !important;
}

.form-control:focus {
    box-shadow: none;
    border-color: #ced4da !important;
}

.text-right_span {
    font-size: 16px;
    font-weight: 600;
}

.div-img-table_action {
    width: auto;
}

.UserListing_table {
    width: 100% !important;
}

.data-table-hotels-listing {
    width: 100% !important;
}

.data-table-subBrandListing {
    width: 100% !important;
}


/* ----- new css end--------- */


/* =================Responcive============== */

@media only screen and (max-width: 1199px) {
    .round-icn-div {
        align-content: center;
        align-items: center;
        display: flex;
        margin-top: 5px;
    }
    .hotle-txt-img {
        font-size: 25px;
        line-height: 1;
        padding-left: 0px;
        margin-top: 10px;
    }
    .card-body-giv-wdth {
        width: 100%;
        overflow: scroll;
        position: relative;
        overflow-y: hidden;
    }
    .mx-wdth-table {
        width: 750px;
    }
    .comp-txt5 {
        padding-left: 5px;
    }
    .comp-txt6 {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1024px) {
    .nopading {
        padding: 0px !important;
    }
}

@media only screen and (max-width: 991px) {
    .nopading {
        padding: 10px !important;
    }
}

@media only screen and (max-width: 767px) {
    .button-comp {
        padding: 3px 8px;
        margin-left: 5px;
    }
    .hotl-img {
        width: 100%;
    }
    .hotl-nam-img-div {
        display: block;
    }
    .activity-txt2 {
        font-size: 12px;
    }
    .activity-txt1 {
        font-size: 18px;
    }
    .activ-comp i {
        font-size: 20px;
    }
}

@media only screen and (max-width: 575px) {
    .btn-icon {
        text-align: right;
    }
    .about-comp-sh {
        margin-top: 30px;
    }
    .notepadng {
        padding: 0 30px !important;
    }
}

.asterik {
    margin-left: 2px;
    color: red;
}


/* ========new responcive============ */

@media only screen and (max-width: 1365px) {
    .hotel_tble {
        width: 1290px !important;
    }
    .schedule_table {
        width: 1046px !important;
    }
    .Criteria_table th {
        padding: 10px 5px;
        font-size: 13px;
    }
    .Criteria_table td {
        padding: 10px 5px;
    }
    .activ_table {
        width: 1520px !important;
    }
}

@media only screen and (max-width: 1279px) {
    .report_tabl_res {
        width: 1022px !important;
    }
    .UserListing_table {
        width: 1020px !important;
    }
    .company_table {
        width: 1022px !important;
    }
    .outlets_list_resp {
        width: 1024px !important;
    }
    .data-table-sub-category {
        width: 975px !important;
    }
    .lodging_list_res {
        width: 900px !important;
    }
    .hotel_tble {
        width: 1022px !important;
    }
}

@media only screen and (max-width: 1199px) {
    .outlet_respons {
        overflow-x: auto;
        width: 900px;
    }
    .schedule_Lis_respon {
        width: 1200px !important;
    }
    .card-body-giv-wdth ul .col_li {
        width: 49.5%;
    }
    .paddind_vTable {
        width: 900px !important;
    }
    .Lodging_responc {
        width: 900px !important;
    }
}

@media only screen and (max-width: 991px) {
    .resrv_table_rspon {
        width: 800px;
    }
    .form-control2 {
        width: 96%;
    }
    .form-control1 {
        width: 96%;
    }
    .ques_respon {
        width: 800px;
    }
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter {
        float: none !important;
    }
    .card-body-giv-wdth ul .col_li {
        width: 100%;
    }
    .photo-full-div ul {
        width: 100%;
    }
    .form-control2 {
        width: 94%;
    }
    .form-control1 {
        width: 94%;
    }
    .table-responsive-xl {
        display: table;
    }
    .outlet_respons_cb {
        overflow-y: hidden;
    }
    .outlet_respons_first {
        overflow-x: auto;
        width: 700px;
        overflow-y: hidden;
    }
    .outlet_2_respon {
        width: 800px;
    }
    .UserListing_table {
        width: 900px !important;
    }
}

@media only screen and (max-width: 575px) {
    .compar_respon {
        width: 500px;
    }
    .card-header h3 {
        width: 100%;
        font-size: 18px;
    }
    .card-header .pull-right {
        margin-top: 10px;
    }
    .graph-full-div1 .detail_Text {
        width: 100% !important;
        text-align: center !important;
    }
    .photo-full-div ul {
        width: 100%;
    }
    .edit_out_resp {
        width: 500px;
    }
    .photo-full-div ul li {
        margin-right: 0px;
        width: 100%;
        margin-top: 10px;
    }
    .insid-img-div h1 {
        text-align: center;
        padding-right: 0px;
    }
    .bkgd-clr-icn,
    .bkgd-clr-icn1,
    .bkgd-clr-icn4,
    .bkgd-clr-icn2 {
        top: 4px;
    }
    .action-div-img {
        width: 100%;
    }
    .graph_compr {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
    .form-control2 {
        width: 90%;
    }
    .card-header {
        padding: 10px;
    }
    .form-control1 {
        width: 90%;
    }
    .button-graph {
        padding: 10px 9px;
    }
    .data-table-subBrandListing {
        width: 500px !important;
    }
    .compr_body {
        padding: 10px;
    }
    /* .compr_body_card {
        border: none;
    }
    .graph_compr {
        padding: 10px;
        margin-top: 10px;
    } */
    .Criteria_table th {
        font-size: 12px;
        width: 52%;
    }
}

table.dataTable thead .sorting:before{
    right: 20px !important;
}
table.dataTable thead .sorting:after {
    right: 14px !important;
}
table.dataTable thead .sorting_asc:before{
    right: 20px !important;
}
table.dataTable thead .sorting_asc:after{
    right: 14px !important;
}
table.dataTable thead .sorting_desc:after{
    right: 14px !important;
}
table.dataTable thead .sorting_desc:before{
    right: 20px !important;
}

